*.opensdf
*.sdf
*.suo
*.db
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.mll
*.vcxproj.user
*.dll.metagen
ipch/
html/
Resources/
Versions/
TestResults/
TreeGenerator/._LOG.txt
TreeGenerator/Debug/
TreeGenerator/Release/