*.opensdf
*.opendb
*.sdf
*.suo
*.db
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.vcxproj.user
*.dll.metagen
*.pdf
ipch/
html/
Resources/
Versions/
Release/Sample Leaf Textures/.mayaSwatches/
TestResults/
TreeGenerator/._LOG.txt
TreeGenerator/Debug/
TreeGenerator/Release/
TreeGenerator/Debugx64/
TreeGenerator/Releasex64/
TreeGenerator/TreeGenerator.mll